@import "tailwindcss";
@import "tailwindcss-primeui";
@import './fonts.css';

:root {
    --width-base: 1920;
    --width-current: 1920px;
    --width-multiplier: var(--width-current) / var(--width-base);

    @media (max-width: 1920px) {
        --width-current: 100vw;
    }

    @media (max-width: 1024px) {
        --width-base: 375;
        --width-current: 100vmin;
    }
}

@theme {
    --spacing: var(--width-multiplier);
    --default-font-family: 'Montserrat', 'Arial', 'sans-serif';
    --text-4xl: calc(36 * var(--width-multiplier));
    --text-3xl: calc(32 * var(--width-multiplier));
    --text-2xl: calc(24 * var(--width-multiplier));
    --text-xl: calc(18 * var(--width-multiplier));
    --text-base: calc(14 * var(--width-multiplier));
    --text-sm: calc(12 * var(--width-multiplier));
    --text-md: calc(10 * var(--width-multiplier));
    --text-xs: calc(8 * var(--width-multiplier));
    --color-zinc-850: oklch(0.2646 0.0057 271.2);
    --shadow-lg: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
    --my-list-image: url('data:image/svg+xml,%3Csvg width=%2723%27 height=%2723%27 viewBox=%270 0 23 23%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M8.9125 10.7125C8.4625 10.2625 7.7875 10.2625 7.3375 10.7125C6.8875 11.1625 6.8875 11.8375 7.3375 12.2875L10.7125 15.6625C10.9375 15.8875 11.1625 16 11.5 16C11.8375 16 12.0625 15.8875 12.2875 15.6625L20.1625 6.6625C20.5 6.1 20.5 5.425 19.9375 5.0875C19.4875 4.75 18.8125 4.75 18.475 5.2L11.5 13.1875L8.9125 10.7125Z%27 fill=%27%2302BC7D%27/%3E%3Cpath d=%27M21.625 10.375C20.95 10.375 20.5 10.825 20.5 11.5C20.5 16.45 16.45 20.5 11.5 20.5C6.55 20.5 2.5 16.45 2.5 11.5C2.5 9.1375 3.4 6.8875 5.0875 5.2C6.775 3.4 9.025 2.5 11.5 2.5C12.175 2.5 12.9625 2.6125 13.6375 2.725C14.2 2.95 14.875 2.6125 15.1 1.9375C15.325 1.2625 14.875 0.8125 14.3125 0.5875H14.2C13.3 0.3625 12.4 0.25 11.5 0.25C5.3125 0.25 0.25 5.3125 0.25 11.6125C0.25 14.5375 1.4875 17.4625 3.5125 19.4875C5.65 21.625 8.4625 22.75 11.3875 22.75C17.575 22.75 22.6375 17.6875 22.6375 11.5C22.75 10.825 22.1875 10.375 21.625 10.375Z%27 fill=%27%2302BC7D%27/%3E%3C/svg%3E%0A');
}

html {
    font-size: var(--text-base);
}

body{
    font-size: var(--text-base);
}
#__nuxt, .wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
}
main {
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-bold;
}

h3 {
    @apply text-2xl font-bold;
}

.container {
    width: 100%;
    max-width: calc(1400 * var(--width-multiplier));

    @media (max-width: 1024px) {
        padding: 0 calc(15 * var(--width-multiplier));
    }
}

.p-inputnumber input,
.p-inputtext {
    width: 100%;
}
